.Button {
  padding: 8px 16px;
  border-radius: 2px;
  background-color: black;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
  display: inline-block;
  color: #fff;
  border: 0;
  margin-bottom: 10px;
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: 500;
  min-width: 180px;
  box-shadow: 3px 3px 3px black;
}

.Button:hover {
  background-color: #303f9f;
  box-shadow: 3px 3px 3px blue;
}
